{% extends 'django_app/base.html' %}

{% block main %}
    <h1>{{ room.name }}</h1>

    <div class="container container-fluid w-50">
        <div class="border" id="chat-messages">
            {% for message in messages %}
                <div class="border">
                    <p class="small">{{ message.user.username }}</p>
                    <p class="lead">{{ message.message }}</p>
                </div>
            {% endfor %}
        </div>
    </div>


    <div>
        <form method="post" action="." class="form-control">
            {% csrf_token %}
            <div class="input-group">
            <input type="text" name="content" id="chat-message-input" class="form-control" placeholder="введите сообщение">
            <button id="chat-message-submit" class="btn btn-sm btn-outline-primary">Отправить</button>
                </div>
        </form>
    </div>


{% endblock main %}

{% block scripts %}
{{room.slug|json_script:"json-roomname" }}
{{request.user.username|json_script:"json-username"}}
    <script>
        const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
        const userName = JSON.parse(document.getElementById('json-username').textContent);
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/' + roomName + '/');
        console.log(chatSocket)

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if(data.message){
                let html = '<div class="p-4 bg-gray-200 rounded-xl">';
                    html+=  '<p class="font-semibold">' + data.username + '</p>';
                    html +=  '<p>' + data.message + '</p></div>';
                document.querySelector('#chat-messages').innerHTML += html;
                scrollToBottom();
            } else{
            }
        }
        chatSocket.onclose = function(e) {
        }
        document.querySelector('#chat-message-submit').onclick = function(e){
            e.preventDefault()
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'room': roomName,
                'username': userName,
                'message': message
            }));
            messageInputDom.value = '';
            return false;
        }
        function scrollToBottom() {
            const objDiv = document.querySelector('#chat-messages');
            objDiv.scrollTop = objDiv.scrollHeight;
        }
        scrollToBottom();
    </script>
{% endblock scripts %}